@model ModuleModel
@@model @Model.View

<div class="col">
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon fa fa-th-list"></span>
            <h5>@@Headers.@Model.Model</h5>
        </div>
        <div class="widget-content">
            <form asp-antiforgery="true">
                @foreach (PropertyInfo property in Model.Properties)
                {
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="@property.Name"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        @if (typeof(DateTime?).IsAssignableFrom(property.PropertyType))
                        {
                        <input asp-for="@property.Name" asp-format="{0:d}" class="datepicker" type="text" />
                        }
                        else if (Model.Relations[property] != null)
                        {
                        @:@@Html.LookupFor(model => model.@property.Name, new MvcLookup<@Model.Relations[property], @(Model.Relations[property])View>(Url))
                        }
                        else
                        {
                        <input asp-for="@property.Name" />
                        }
                    </div>
                    <div class="control-validation col">
                        <span asp-validation-for="@property.Name"></span>
                    </div>
                </div>
                }
                <div class="form-group">
                    <div class="form-actions col-lg-7">
                        <button class="btn btn-primary">@@Actions.Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
