@model IQueryable<RoleView>

<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th"></span>
            <h5>@Headers.AdministrationRolesIndex</h5>
            <div class="widget-title-buttons">
                <authorize action="Create">
                    <a asp-action="Create" class="btn">
                        <i class="fa fa-file-o"></i><span class="text">@Actions.Create</span>
                    </a>
                </authorize>
            </div>
        </div>
        <div class="widget-content">
            <table class="table">
                <thead>
                    <tr>
                        <authorize action="Details">
                            <th class="action-cell"></th>
                        </authorize>
                        <authorize action="Edit">
                            <th class="action-cell"></th>
                        </authorize>
                        <authorize action="Delete">
                            <th class="action-cell"></th>
                        </authorize>
                        <th>@(ResourceProvider.GetPropertyTitle<RoleView, String>(model => model.Title))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RoleView role in Model)
                    {
                        <tr>
                            <authorize action="Details">
                                <td class="action-cell">
                                    <a asp-action="Details" asp-route-id="@role.Id" class="details-action">
                                        <i class="fa fa-info"></i>
                                    </a>
                                </td>
                            </authorize>
                            <authorize action="Edit">
                                <td class="action-cell">
                                    <a asp-action="Edit" asp-route-id="@role.Id" class="edit-action">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </authorize>
                            <authorize action="Delete">
                                <td class="action-cell">
                                    <a asp-action="Delete" asp-route-id="@role.Id" class="delete-action">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </td>
                            </authorize>
                            <td>@role.Title</td>
                        </tr>
                    }
                </tbody>
  </table>
        </div>
    </div>
</div>
