@model IQueryable<AccountView>

<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="widget-title-icon fa fa-th"></span>
            <h5>@Headers.AdministrationAccountsIndex</h5>
            <div class="widget-title-buttons">
                <authorize comp-action="Create">
                    <a asp-action="Create" class="btn">
                        <i class="fa fa-file-o"></i><span class="text">@Actions.Create</span>
                    </a>
                </authorize>
            </div>
        </div>
        <div class="widget-content">
            <table class="table">
                <thead>
                    <tr>
                        <authorize comp-action="Details">
                            <th class="action-cell"></th>
                        </authorize>
                        <authorize comp-action="Edit">
                            <th class="action-cell"></th>
                        </authorize>
                        <th>@(ResourceProvider.GetPropertyTitle<AccountView, String>(model => model.Username))</th>
                        <th>@(ResourceProvider.GetPropertyTitle<AccountView, String>(model => model.Email))</th>
                        <th>@(ResourceProvider.GetPropertyTitle<AccountView, String>(model => model.RoleTitle))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AccountView account in Model)
                    {
                        <tr>
                            <authorize comp-action="Details">
                                <td class="action-cell">
                                    <a asp-action="Details" asp-route-id="@account.Id" class="details-action">
                                        <i class="fa fa-info"></i>
                                    </a>
                                </td>
                            </authorize>
                            <authorize comp-action="Edit">
                                <td class="action-cell">
                                    <a asp-action="Edit" asp-route-id="@account.Id" class="edit-action">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </authorize>
                            <td>@account.Username</td>
                            <td>@account.Email</td>
                            <td>@account.RoleTitle</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
