@using Texts = MvcTemplate.Resources.Views.Administration.Accounts.AccountView.Texts
@using MvcTemplate.Resources.Views.Auth.AccountRegisterView

@model AccountRegisterView

<div class="title text">@Pages.AuthRegister</div>
<div class="separator"></div>

<form asp-antiforgery="true">
    <input type="password" style="display: none" /> @* Forcing browser to not remember following form inputs *@
    @Html.Partial("_AuthAlerts")

    <div class="auth-content">
        <div class="input-group">
            <span class="fa fa-user"></span>
            <input asp-for="Username" placeholder="@Titles.Username" autocomplete="off" />
            <span class="input-error fa fa-warning"></span>
        </div>
        <div class="input-group">
            <span class="fa fa-lock"></span>
            <input asp-for="Password" type="password" placeholder="@Titles.Password" autocomplete="off" />
            <span class="input-error fa fa-warning"></span>
        </div>
        <div class="input-group">
            <span class="fa fa-envelope"></span>
            <input asp-for="Email" placeholder="@Titles.Email" autocomplete="off" />
            <span class="input-error fa fa-warning"></span>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="@Actions.Register" />
</form>

<div class="separator"></div>
<div class="auth-actions">
    <a asp-action="Login" class="text fa fa-sign-in" data-toggle="tooltip" data-original-title="@Texts.Login" data-placement="bottom"></a>
    <a asp-action="Recover" class="text fa fa-unlock-alt" data-toggle="tooltip" data-original-title="@Texts.LostPassword" data-placement="bottom"></a>
</div>
