@{
    IMvcSiteMapProvider siteMap = Context.RequestServices.GetRequiredService<IMvcSiteMapProvider>();
    MvcSiteMapNode[] breadcrumb = siteMap.GetBreadcrumb(ViewContext).ToArray();
}

<div class="content-breadcrumb">
    @for (Int32 i = 0; i < breadcrumb.Length; i++)
    {
        MvcSiteMapNode node = breadcrumb[i];
        if (i == breadcrumb.Length - 1)
        {
            <a class="current">
                <i class="@node.IconClass"></i>
                <span class="text">@ResourceProvider.GetSiteMapTitle(node.Area, node.Controller, node.Action)</span>
            </a>
        }
        else if (node.Action != null)
        {
            <a asp-route-area="@node.Area" asp-controller="@node.Controller" asp-action="@node.Action">
                <i class="@node.IconClass"></i>
                <span class="text">@ResourceProvider.GetSiteMapTitle(node.Area, node.Controller, node.Action)</span>
            </a>
            <span class="fa fa-angle-right"></span>
        }
    }
</div>
