<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@(ViewBag.Title ?? ResourceProvider.GetPageTitle(ViewContext.RouteData.Values))</title>

    <environment names="Development">
        <link asp-append-version="true" href="~/Content/JQueryUI/jquery-ui.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/JQueryUI/jquery-ui.timepicker-addon.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/FontAwesome/font-awesome.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/MvcLookup/mvc-lookup.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/JsTree/jstree.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/alerts.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/base.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/content.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/header.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/menu.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/overrides.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/table.css" rel="stylesheet">
        <link asp-append-version="true" href="~/Content/Shared/widget-box.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link asp-append-version="true" href="~/content/private/bundle.min.css" rel="stylesheet">
    </environment>
</head>
<body class="private">
    @Html.Partial("_Header")
    @Html.Partial("MvcLookup/_Dialog")
    <div class="menu">
        <div class="menu-search">
            <input placeholder="@(Actions.Search)..." />
        </div>
        @{ IMvcSiteMapProvider siteMap = Context.RequestServices.GetRequiredService<IMvcSiteMapProvider>(); }
        @Html.Partial("_SiteMap", siteMap.GetSiteMap(ViewContext))
    </div>
    <div class="content-container">
        <div class="separator"></div>

        @Html.Partial("_Breadcrumb")

        <div class="separator"></div>

        <div class="container-fluid">
            <div class="content row">
                <div class="alerts col-xs-12">
                    @foreach (Alert alert in JsonConvert.DeserializeObject<AlertsContainer>(TempData["Alerts"] as String))
                    {
                        <div class="alert alert-@alert.Type.ToString().ToLowerInvariant()" data-timeout="@alert.Timeout">
                            <span>@alert.Message</span><span class="close">×</span>
                        </div>
                    }
                </div>

                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        @DateTime.Now.Year &copy; All rights reserved.
    </div>

    <environment names="Development">
        <script asp-append-version="true" src="~/Scripts/JQuery/jquery.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQuery/jquery.validate.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQuery/jquery.validate.unobtrusive.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQuery/jquery.globalize.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQuery/Cultures/globalize.en.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQuery/Cultures/globalize.lt.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQueryUI/jquery-ui.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQueryUI/Cultures/jquery-ui.en.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQueryUI/Cultures/jquery-ui.lt.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQueryUI/jquery-ui.no-conflict.js"></script>
        <script asp-append-version="true" src="~/Scripts/JQueryUI/jquery-ui.timepicker-addon.js"></script>
        <script asp-append-version="true" src="~/Scripts/Bootstrap/bootstrap.js"></script>
        <script asp-append-version="true" src="~/Scripts/Bootstrap/bootstrap.no-conflict.js"></script>
        <script asp-append-version="true" src="~/Scripts/MvcLookup/mvc-lookup.js"></script>
        <script asp-append-version="true" src="~/Scripts/MvcLookup/Cultures/mvc-lookup.en.js"></script>
        <script asp-append-version="true" src="~/Scripts/MvcLookup/Cultures/mvc-lookup.lt.js"></script>
        <script asp-append-version="true" src="~/Scripts/MvcGrid/mvc-grid.js"></script>
        <script asp-append-version="true" src="~/Scripts/MvcGrid/Cultures/mvc-grid.en.js"></script>
        <script asp-append-version="true" src="~/Scripts/MvcGrid/Cultures/mvc-grid.lt.js"></script>
        <script asp-append-version="true" src="~/Scripts/JsTree/jstree.js"></script>
        <script asp-append-version="true" src="~/Scripts/Shared/menu.js"></script>
        <script asp-append-version="true" src="~/Scripts/Shared/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/scripts/private/bundle.min.js"></script>
    </environment>
</body>
</html>
