@model IEnumerable<MvcSiteMapNode>

<ul>
    @foreach (MvcSiteMapNode node in Model)
    {
        String link = node.Action != null ? Url.Action(node.Action, node.Controller, new { area = node.Area }) : "#";
        String menu = node.HasActiveChildren ? "has-active open" : "";
        menu += node.Children.Any() ? " submenu" : "";
        menu += node.IsActive ? " active" : "";
        menu = menu.Trim();

        <li class="@menu">
            <a href="@link">
                <i class="menu-icon @node.IconClass"></i>
                <span>@ResourceProvider.GetSiteMapTitle(node.Area, node.Controller, node.Action)</span>
                @if (node.Action == null)
                {
                    <i class='arrow fa fa-chevron-right'></i>
                }
            </a>
            @if (node.Children.Any())
            {
                @Html.Partial("_SiteMap", node.Children)
            }
        </li>
    }
</ul>
